body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #c3f7ff;
    box-sizing: border-box;
    font-family: "Arial";
}

noscript {
    display: block;
    color: red;
}

h1 {
    text-align: center;
}

.navi {
    float: left;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin: 10px 40px 0px 40px;
}

.navi:hover  {
    text-decoration: none;
    color: gray;
}

.navi:visited {
    text-decoration: underline;
}

#navigator {
    background-color: black;
    height: 50px;
    width: 100%;
}

#heading {
    font-size: 66px;
}

/*------------------------------------------------
    List of Lists
  ----------------------------------------------*/

#containerLists {
    position: absolute;
    width: 300px;
    margin-left: 180px;
    margin-top: 129px;
}

#listOfLists {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100%;
}

#listInput {
    display: block;
    border: 1px solid #d9d9d9;
    font-size: 17px;
    width: 300px;
    height: 50px;
    padding-left: 20px;
}

#listsHeader {
    width: 100%;
    text-align: center;
}

#listInput:focus {
    outline: none;
}

.listOfListsItem {
    cursor: pointer;
    background-color: white;
    font-size: 17px;
    width: 300px;
    height: 50px;
    padding-top: 13px;
    padding-left: 20px;
    border: 1px solid #d9d9d9;
    border-top: none;
}

.selected {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-top: none;
}

#editListName {
    display: inline;
    border: none;
    border: 1px solid black;
    font-size: 17px;
    width: 220px;
    height: 50px;
    padding-left: 19px;
    margin-left: -20px;
    margin-top: -13px;
}

#editListName:focus {
    outline: none;
    border: 1px solid black;
}

#instructionsTitle {
    text-align: center;
    margin: 20px 0;
}

#instructions {
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    width: 543px;
    margin: 40px auto;
    padding: 10px;
}

#todoHeading {
    margin-bottom: 20px;
}

#todoBox {
    width: 500px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto 100px auto;
}

#todoInput {
    display: block;
    border: 1px solid #d9d9d9;
    font-size: 17px;
    width: 500px;
    height: 50px;
    margin: 0 auto;
    padding-left: 20px;
}

#editName {
    display: inline;
    border: none;
    border: 1px solid black;
    font-size: 17px;
    width: 400px;
    height: 50px;
    padding-left: 19px;
    margin-left: -20px;
    margin-top: -13px;
}

#editName:focus {
    outline: none;
    border: 1px solid black;
}

::-webkit-input-placeholder {
    color: #cccccc;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cccccc;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #cccccc;
}

:-ms-input-placeholder {
    color: #cccccc;
}

#todoInput:focus {
    outline: none;
}

#lists {
    width: 500px;
    margin: 0 auto;
}

.listItem:first-child {
    border-top: none;
}

.listItem {
    background-color: white;
    font-size: 17px;
    width: 500px;
    height: 50px;
    padding-top: 13px;
    padding-left: 20px;
    border: 1px solid #d9d9d9;
}

#tabNav {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-top: none;
    width: 500px;
    height: 40px;
}

#clearAll {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 54px;
}

#clearAll:hover, #clearCompletedItems:hover, #activeItems:hover {
    cursor: pointer;
    color: #6699ff;
    text-decoration: underline;
}

#clearCompletedItems {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#activeItems {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 22px;
}

#todoAmount {
    background-color: white;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-top: none;
}

.close {
    color: red;
    float: right;
    margin-right: 10px;
}

.close:hover {
    color: red;
}

.edit {
    float: right;
    color: #6699ff;
    margin-right: 10px;
    margin-top: 3px;
}

.edit:hover {
    color: #3377ff;
    cursor: pointer;
}

.check {
    float: right;
    color: #ccff99;
    margin-right: 10px;
    font-size: 20px;
}

.check:hover {
    color: lawngreen;
    cursor: pointer;
}

.check-incomplete {
    color: #ffec80;
}

.check-incomplete:hover {
    color: gold;
}

.completed {
    display: block;
    box-shadow: 0px 1px 0px #d9d9d9;
    cursor: pointer;
    color: lawngreen;
    float: left;
    margin-top: -15px;
    margin-right: 10px;
    margin-left: -50px;
    background-color: white;
    height: 50px;
    width: 29px;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-bottom: none;
    padding: 16px 0 0 6px;
}

.no-display {
    display: none;
}

.completed-item {
    text-decoration: line-through;
    color: #d9d9d9;
}

#about {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 30px;
    height: 291px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*------------------------------------------------
    Login and Required Components
  ----------------------------------------------*/

#login-container {

}

.authInput {
    width: 400px;
    margin: 30px auto;
}

.authItem {
    display: block;
    width: 400px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 20px;
}